

//background-colors
$body: #2a2438;
$header: #dbd8e3;
$btnBackground: #ffffff;
$btnBackgroundHover: #2a2438;
$toDoDistBackground: #ffffff;
$listBackground: #dbd8e3;

//text colors
$btnText: #2a2438;
$btnTextHover: #ffffff;
$headerText: #2a2438;
$inputTextColor: #2a2438;

//font-weights
$headerWeight: 800;
$btnWeight: 600;

//fonts
$logo: 4rem;
$yourName: 3rem;
$headerButton: 2rem;
$inputText: 3rem;